{% if paginator.num_pages > 1 %}
  <nav aria-label="paginator">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href=".?{{ paginator.name_offset }}={{ paginator.offset_prev_page }}&{{ extra_params }}"
           aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% for page in paginator.page_range %}
        {% if page.is_splitter %}
          <li class="page-item"><a href="" class="page-link">...</a></li>
        {% else %}
          <li class="page-item {% if page.0 == paginator.curr_page %}active{% endif %}">
            <a class="page-link" href="?{{ paginator.name_offset }}={{ page.1 }}&{{ extra_params }}">{{ page.0 }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="page-item">
        <a class="page-link" href=".?{{ paginator.name_offset }}={{ paginator.offset_next_page }}&{{ extra_params }}"
           aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
{% endif %}
